[submodule "vendor/impeccable"]
	path = vendor/impeccable
	url = https://github.com/pbakaus/impeccable
[submodule "vendor/remotion"]
	path = vendor/remotion
	url = https://github.com/remotion-dev/skills
