[submodule "vendor/impeccable"]
	path = vendor/impeccable
	url = https://github.com/pbakaus/impeccable
[submodule "vendor/remotion"]
	path = vendor/remotion
	url = https://github.com/remotion-dev/skills
[submodule "vendor/improve"]
	path = vendor/improve
	url = https://github.com/shadcn/improve
[submodule "vendor/emil"]
	path = vendor/emil
	url = https://github.com/emilkowalski/skill
